.content tr {
  height: 7rem;
}
.content th {
  width: 150px;
  text-align: right;
  padding-right: 10px;
}

.content td {
  width: 480px;
}

.contact_input {
  height: 7rem;
}

input[type="text"] ,input[type="email"] {
  width: 480px;
}

.sex_vartical_align input {
  vertical-align: 0.2rem;
  margin: 0 8px;
}

input[type="submit"] {
  width: 80px;
  height: 5rem;
  font-size: 2rem;
  color: #fff;
  border-style: none;
  letter-spacing: 0.5rem;
  text-align: center;
  text-indent: 0.3em;
  background-color: #00afcc;

}

#submit {
  display: block;
  text-align: center;
  margin: 20px 0;
}


#submit:hover {
  opacity: 0.5;
}
